// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:#ffee32;
$secondary:#d6d6d6;;
$lightblack:#333533;
$black:#202020;
$body-bg:$black;



.car-header{
 background-color: none;

}
#email, #password{
    background-color: white;
    color: $black;
    box-shadow: none;
    border-color: 1px solid $black;

}
.navbar{
    background-color: none;
    color: $primary;
    

}
.nav-link a{
    color: $primary;
}


.prueba {
    display: flex;
    height: 100%;
}
.cajaizq {
    width: 50%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cajaizq img {
    width: 80%;
    height: 100%;
   border-radius: 10px;
  
}
.cajader{
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    padding-top: 15%;
    background-color: $lightblack;
    width: 50%;
    border-radius: 10px;
    height: 1000px;

}
.login{
    background-color: $secondary;
    border-radius: 10px;
    border: 5px solid black;
    padding-top: 15px;

}
.login-header{
    padding-left: 50px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-body{
    width: 100%;
    
   
}