// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:#ffee32;
$secondary:#d6d6d6;;
$lightblack:#333533;
$black:#202020;
$body-bg:$black;
$naranja: #FFD100;



.car-header{
 background-color: none;

}
#email, #password{
    background-color: white;
    color: $black;
    box-shadow: none;
    border-color: 1px solid $black;

}

.navbar .container{
    
    position:fixed;
    top: 0;
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
}

.nav-link a{
    color: $primary;
}


.prueba {
    border: 5px solid lawngreen;
    display: flex;

}
.cajaizq {
    
    width: 50%;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}
.cajaizq img {
    width: 80%;
    height: 50%;
    padding-top: 50px;
    border-radius: 10px;
  
}
.cajader{
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightblack;
    width: 50%;
    border-radius: 10px;
    height:  780px;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 15%;
    padding-left:900px;
    

}
.cajaimg{
    border: 5px solid red;
    width: 100%;
}
.cajaimg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  
}

.cajalogin{
    border: 5px solid blue;
    width: 100%;

}
.login{
    background-color: $secondary;
    border-radius: 10px;
    border: 5px solid black;
    

}
.login-header{
    padding-left: 50px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-body{
    width: 100%;  
}


.card_place{
    margin-bottom: 10px;
    border: 1px solid $naranja;
    border-radius: 15px;
    background-color: $lightblack;
    display: flex;
    justify-content: center;
}

.card-body h3{
    color: $secondary;

}
.card-body p {
    color: $secondary;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contenedor_imagenes{
    margin: 5px;
    border: 1px solid $naranja;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor_imagenes div{
    margin-left: 10px;
    margin-right: 10px;
}
.contenedor_imagenes div img{
    height: 20vh;
    width: 20vh
}
.btn_show{
    margin: 10px;
    display: flex;
    justify-content: right;
}

.fa-solid{
    color: $naranja;
}

.place_head{
    display:flex;
    flex: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

.item_post button {
    background-color: #33353300;
    border: $lightblack;
    color: #FFD100;
}

.con_icono_place{
    display: flex;
    flex: row;
    align-items: center;
    width: 100%;
    
   
}
.add_btn{
    position: fixed;
    bottom: 3px;
    right: 20px;
    background-color: #333533;
    border-radius: 40px;
    height: 60px;
    width: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*-------------------------------------------------------*/
body{
    background-color: #202020;
   
}
.feed{
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.caja_post{
    
    margin: 2%;
    border: 1px solid #FFD100;
    border-radius: 40px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

a{
    text-decoration: none;
    color: #FFD100;
    
}
.usuario_post{
    
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: row; 
    flex-wrap: nowrap;     
}
.usuario_post img{
    width:40px;
    height:40px;
    border-radius:150px;
}
.usuario_post p{
    margin-left: 2%;
}
.enlace_comenatrios_post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_post{
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    margin-top: 20px;
}


.img_post{
    margin-bottom: 1%;
    display: flex;
   justify-content: center;
}
.img_post img{
    width: 70%;
    height: 70%;
}

.item_post{

    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: row; 
    flex-wrap: nowrap;   
   font-size: 150%;
   padding-left:2% ;
   padding-right: 2%;
    
}
.item_post i{
    margin-right: 20%;
    font-size: 50px;
}
.caja_comentarios_post img{
    width:30px;
    height:30px;
    border-radius:150px;
}
.caja_comentarios_post{
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: row; 
    flex-wrap: nowrap;     
}
.caja_comentarios_post p{
    padding-left: 2%;
}

.add_comentarios_post{
   
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.caja_post p{
    color: $secondary
}
input{
    background-color: #202020;
    color: #FFEE32; 
    width: 300%;
    height: 80%;
    border: none;
}

.editar_btn_post{
    color: $secondary;
    font-size: xx-small;
}
.input_post{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    resize: none;
    color: $black;
    
}
.btn{
    margin-right: 20px;
}
.post{
    color: #ffd100;
    border-radius: 10px;
    background-color: #d6d6d627;
    padding: 20px;
}
.menu-lateral{
    position:fixed;
    top: 0;
    background-color: black;
    margin-left: 5px;
    padding: 5px;
    width: 12%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;  
}
.menu-head img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lista-item{
    background-color: $lightblack;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28%;
    margin-left: 10%;
    margin-right: 10%;  
    height: 10%;
    border: 1px solid $primary;
    border-radius: 5px;
}

.lista-item:hover{
    background-color: #FFD100;  
    color:black; 
}
.lista-item a:hover{
   color:black;
}
.item_post button{
    background-color:#33353300;
    border: $lightblack;
    color: #FFD100;

}
.item_post button i{
   font-size: 30px;

}
.editar_btn_post{
    font-size:25px;
    
}
.cont_icono_post{
    padding-right: 5px;
    display: flex;
    flex: row;
    align-items: center;
}



/* Contacto */

.contacto {  
    margin-left: 50%;
}  

#header_contacto {
    display: flex;
    justify-content: center;
    
}

#video_contacto {
    position: fixed;
    right: 0;
    min-width: 105%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

#txt_video_contacto{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.titulo_contacto {
    color: $primary;
}

.subtitulo_contacto {
    color: $primary;
}

#mapa_container{
    display: flex;  
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 2%;
}

#txt_mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.35%;

}

.titulo_mapa_contacto{
    color: $primary;
}

.subtitulo_mapa_contacto {
    color: $primary;
}

#footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightblack;
    padding: 3%;
    margin-bottom: 0%;
}

#txt_footer_contacto{
    color: $primary;
}
#iconos_footer_contacto {
    color: $primary;
}

#map {
    height: 500px;
    width: 1000px;
}


.aboutAs {
    margin-left: 15%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;

}

#persona1,
#persona2 {
    width: 35%;
    background-color: #ffd100;
    border: 1px solid $black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 13px 65px 0px rgba(255, 255, 255, 0.25);
    padding: 0;
}

.cajaPersona:hover #puesto1::before {
    content: 'Deporte';
    visibility: visible;
}

.cajaPersona:hover #puesto2::before {
    content: 'Videojuegos';
    visibility: visible;
}

.cajaPersona:hover #puesto1 {
    visibility: hidden;
}

.cajaPersona:hover #puesto2 {
    visibility: hidden;
}

.cajaPersona:hover #img1 {
    animation: voltear 2s linear 1;
    animation-fill-mode: forwards;
}

.cajaPersona:hover #img2 {
    animation: giro 2s linear 1;
    animation-fill-mode: forwards;
}



@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1080deg);
        content: url("../imagenes/aaronDivertida.jpeg");
        filter: grayscale(0%);
        filter: contrast(250%);
    }
}


@keyframes voltear {
    0% {
        transform: rotateY(0deg);

    }

    100% {
        transform: rotateY(180deg);
        content: url("../imagenes/Rose_City_Antifa_logo.png");
        filter: grayscale(0%);
        filter: contrast(250%);
    }

}

.imagenPersona img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    filter: grayscale(100%);
}

.infoPersona {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
}

.modal-content {
    width: 100%;
    margin: 0px;
}

#myModal video,
#myModal2 video {
    width: 100%;
}

.carousel-control {
    width: 50px;
    height: 50px;
    position: absolute;
}

.carousel-control-next,
.carousel-control-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translateY(200%);

}



